#username
{
    font-family: 宋体, serif;
    margin-top: 20%;
    font-size: 25px;
    text-align: center;
}
#password
{
    font-family: 宋体, serif;
    /*margin-top: 25%;*/
    font-size: 25px;
    text-align: center;
}


