html
{
    margin-left: 15%;
    margin-right: 15%;
}
body
{
    background-color: silver;
}
.each_article
{
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
    padding: 40px;
    margin-bottom: 1%;
}
.footer
{
    /*margin-right: 15%;*/
    /*margin-left:  15%;*/
    font-family: 宋体, serif;
    background-color: skyblue;
    font-size: 15px;
    text-align: right;
}