<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">
    <h1>Welcome!</h1>
    <div class="article_list">
        {% for each_article in article_list %}
            <div class="each_article">
                <a class="each_article_title" href="./article/{{ each_article[1] }}">
                    {{ each_article[1] }}
                </a>
                <br>
                <a class="each_article_content">
                    {{ article_content_list[article_list.index(each_article)] }}
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="footer">
        {{ footer }}
    </div>
</body>
</html>