<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">
    <h1>Welcome to {{ author }}</h1>
    <div class="article_list">
        {% for each_article in article_list %}
            <div class="each_article">
                <a style="display: block" href="./article/{{  '.'.join(each_article.split('.')[:-1]) }}">
                    {{ '.'.join(each_article.split('.')[:-1]) }}
                </a>
{#                <a>#}
{#                    {{ content }}#}
{#                </a>#}
            </div>
        {% endfor %}
    </div>
    <div class="footer">
        {{ footer }}
    </div>
</body>
</html>